{% extends "base.html" %}
{% load static %}

{% block title %}
home
{% endblock %}


{% block content %}
<h1 align='center'>Notifications</h1>
<div class="row">
	<div class="col-md-2">
		<table class="table table-bordered table-condensed">
			<thead class="info">
				<td>
					<h4 align="center">What would you like to do</h4>
				</td>
			</thead>
			<tbody>
				<tr><td>
				<a href="{% url 'add_group' %}" style="display:block;width:100%;height:100%;text-decoration:none;"><i class="fa fa-ambulance"></i> Add a classification</a>
				</td></tr>
				<tr><td>
				<a href="{% url 'add_owner' %}"><i class="glyphicon glyphicon-user"></i> Add an owner</button></a>
				</td></tr>
				<tr class="info"><td>
				<a href="{% url 'add_car' %}"><i class="fa fa-truck"></i> Add a car</button></a>
				</td></tr>
				<tr>
					<td>
						<h4>Search</h4>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-bordered table-condensed">
			<thead class="info">
				<td>
					<h3 align="center">License renewals</h3>
				</td>
			</thead>
			<tbody>
				<tr>
					<td>
						<h4>In less than a week:</h4>
						{% for c in license_next_week %}
						<a href="{% url 'edit_car' pk=c.id%}">
							<button type="button" class="btn btn-danger btn-xs">{{ c.license_id }}<br>{{ c.license_renewal_date|date:"d/m/y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than a month:</h4>
						{% for c in license_next_month %}
						<a href="{% url 'edit_car' pk=c.id%}">
							<button type="button" class="btn btn-warning btn-xs">{{ c.license_id }}<br>{{ c.license_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than a year:</h4>
						{% for c in license_next_year %}
						<a href="{% url 'edit_car' pk=c.id%}">
							<button type="button" class="btn btn-success btn-xs">{{ c.license_id }}<br>{{ c.license_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-bordered table-condensed">
			<thead class="info">
				<td>
					<h3 align="center">Insurance renewals</h3>
				</td>
			</thead>
			<tbody>
				<tr>
					<td>
						<h4>In less than a week:</h4>
						{% for c in insurance_next_week %}
						<a href="{% url 'edit_car' pk=c.id%}">
						<button type="button" class="btn btn-danger btn-xs">{{ c.license_id }}<br>{{ c.insurance_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than a month:</h4>
						{% for c in insurance_next_month %}
						<a href="{% url 'edit_car' pk=c.id%}">
							<button type="button" class="btn btn-warning btn-xs">{{ c.license_id }} {{ c.insurance_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than a year:</h4>
						{% for c in insurance_next_year %}
						<a href="{% url 'edit_car' pk=c.id%}">
							<button type="button" class="btn btn-success btn-xs">{{ c.license_id }} {{ c.insurance_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-bordered table-condensed">
			<thead class="info">
				<td>
					<h3 align="center">Future car treatment</h3>
				</td>
			</thead>
			<tbody>
				<tr>
					<td>
						<h4>In less than 1,000 km:</h4>
						{% for c in car_next_week %}
						<h5 class="label label-danger">{{ c.license_id }} {{ c.insurance_renewal_date|date:"d/m/Y" }}</h5><br>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than 5,000 km:</h4>
						{% for c in insurance_next_month %}
						<h5 class="label label-warning">{{ c.license_id }} {{ c.insurance_renewal_date|date:"d/m/Y" }}</h5><br>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}