{% extends "base.html" %}
{% load static %}

{% block title %}
home
{% endblock %}


{% block content %}
<h1 align='center'>Notifications</h1>
<div class="row">
	<div class="col-md-2">
		<table class="table table-condensed">
			<thead>
				<th class="active">
					<h3 align="center">What would you like to do?</h3>
				</th>
			</thead>
			<tbody>
<!--				<tr><td>
				<a href="{% url 'add_group' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="fa fa-ambulance"></i> Add a classification</button></a>
				</td></tr>
				<tr><td>
				<a href="{% url 'add_owner' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="glyphicon glyphicon-user"></i> Add a car owner</button></a>
				</td></tr>
				<tr><td>
				<a href="{% url 'add_car' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="fa fa-truck"></i> Add a car</button></a>
				</td></tr> -->
				<tr><td>
				<a href="{% url 'add_accident' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="fa fa-truck"></i><i class="fa fa-truck"></i> Report an accident</button></a>
				</td></tr>
			</tbody>
		</table>
		<table class="table table-condensed">
			<thead>
				<th class="active">
					<h3 align="center">What would you like to see?</h3>
				</th>
			</thead>
			<tbody>
				<tr><td>
				<a href="{% url 'add_group' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="fa fa-ambulance"></i> Add a classification</button></a>
				</td></tr>
				<tr><td>
				<a href="{% url 'add_owner' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="glyphicon glyphicon-user"></i> Add an owner</button></a>
				</td></tr>
				<tr class="info"><td>
				<a href="{% url 'add_car' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="fa fa-truck"></i> Add a car</button></a>
				</td></tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-bordered table-condensed">
			<thead>
				<th class="active">
					<h3 align="center">License renewals</h3>
				</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<h4>In less than a week:</h4>
						{% for c in license_next_week %}
						<a href="{% url 'view_car' pk=c.id%}">
							<button type="button" class="btn btn-danger btn-xs"><strong>{{ c.nickname }}</strong><br>{{ c.license_id }}<br>{{ c.license_renewal_date|date:"d/m/y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than a month:</h4>
						{% for c in license_next_month %}
						<a href="{% url 'view_car' pk=c.id%}">
							<button type="button" class="btn btn-warning btn-xs"><strong>{{ c.nickname }}</strong><br>{{ c.license_id }}<br>{{ c.license_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than a year:</h4>
						{% for c in license_next_year %}
						<a href="{% url 'view_car' pk=c.id%}">
							<button type="button" class="btn btn-success btn-xs"><strong>{{ c.nickname }}</strong><br>{{ c.license_id }}<br>{{ c.license_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-bordered table-condensed">
			<thead>
				<td class="active">
					<h3 align="center">Insurance renewals</h3>
				</td>
			</thead>
			<tbody>
				<tr>
					<td>
						<h4>In less than a week:</h4>
						{% for c in insurance_next_week %}
						<a href="{% url 'view_car' pk=c.id%}">
						<button type="button" class="btn btn-danger btn-xs"><strong>{{ c.nickname }}</strong><br>{{ c.license_id }}<br>{{ c.insurance_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than a month:</h4>
						{% for c in insurance_next_month %}
						<a href="{% url 'view_car' pk=c.id%}">
							<button type="button" class="btn btn-warning btn-xs"><strong>{{ c.nickname }}</strong><br>{{ c.license_id }}<br>{{ c.insurance_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>In less than a year:</h4>
						{% for c in insurance_next_year %}
						<a href="{% url 'view_car' pk=c.id%}">
							<button type="button" class="btn btn-success btn-xs"><strong>{{ c.nickname }}</strong><br>{{ c.license_id }}<br>{{ c.insurance_renewal_date|date:"d/m/Y" }}</button>
						</a>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-bordered table-condensed">
			<thead>
				<td class="active">
					<h3 align="center">Future car treatment</h3>
				</td>
			</thead>
			<tbody>
				<tr>
					<td>
						<h4>In less than 1,000 km:</h4>
						{% for nt in next_treatment_1e3 %}
								<button type="button" class="btn btn-danger btn-xs">{{ nt }}</button>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<h4>Not so soon:</h4>
						{% for nt in next_treatment_more %}
								<button type="button" class="btn btn-warning btn-xs">{{ nt }}</button>
						{% endfor %}					</td>
				</tr>
				<tr>
					<td>
						<h4>Not enough data:</h4>
						{% for nt in next_treatment_nodata %}
								<button type="button" class="btn btn-default btn-xs">{{ nt }}</button>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}