{% extends "base.html" %}
{% load static %}

{% block title %}
KM reads list
{% endblock %}

{% block content %}
<h4>KM reads list:</h4>
<ul>
	{% for object in object_list %}
	<li>
		<a href="{% url 'view_kmread' pk=object.id %}">
			{{ object.license_id }} {{ object.reported_at }}
		</a>
		[<a href="{% url 'edit_kmread' pk=object.id %}">
		edit
		</a>]
	</li>
	{% endfor %}
</ul>
</br>
<a href="{% url 'add_kmread' %}">
<button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-plus"></span>
	Add KM read
</button>
</a>

{% endblock %}