{% extends "base.html" %}
{% load static %}

{% block title %}
Statistics
{% endblock %}

{% block content %}
<div class="row" align="center">
	<a href="{% url 'add_kmread' %}">
		<button type="button" class="btn btn-success btn-lg">
			<i class="fa fa-calendar"></i>
			Month
		</button>
	</a>

	<a href="{% url 'add_kmread' %}">
		<button type="button" class="btn btn-success btn-lg">
			<i class="fa fa-ambulance"></i>
			Group
		</button>
	</a>

	<a href="{% url 'add_kmread' %}">
		<button type="button" class="btn btn-success btn-lg">
			<i class="fa fa-truck"></i>
			Car
		</button>
	</a>

	<a href="{% url 'add_kmread' %}">
		<button type="button" class="btn btn-success btn-lg">
			<i class="fa fa-user"></i>
			Driver
		</button>
	</a>
</div>
<svg class="mainbuttons"></svg>
<div class="row" align="center">
	<div class="col-lg-2">
		<h4>Cars</h4>
		<table class="table table-striped">
			<tbody>
				{% for car in cars_list %}
				<tr>
					<td>{{ car.license_id }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
	<div class="col-lg-2">
		<h4>Owners</h4>
		<table class="table table-striped">
			<tbody>
				{% for owner in owners_list %}
				<tr>
					<td>{{ owner.license_id }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
	<div class="col-lg-2">
		<h4>Classifications</h4>
		<table class="table table-striped">
			<tbody>
				{% for classification in classifications_list %}
				<tr>
					<td>{{ classification.group }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-lg-2">
		<h4>Months</h4>
		<table class="table table-striped">
			<tbody>
				{% for month in months_list %}
				<tr>
					<td>{{ month.month }}/{{ month.year }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</br>
<div id="bars"></div>


<script type="text/javascript">
		//Create SVG element
       	//Width and height
		// a global
		var w = 1000;
		var h = 200;

		var svgButtons = d3.select("#mainbuttons")
			.append("svg")
			.attr("width", w/2)
			.attr("height", 20)

		var buttonsLabels = ['Car','Driver'];

		svgButtons.selectAll("button")
			.data(buttonsLabels)
			.enter()
			.append("button")
			.attr("class", "btn btn-success btn-lg")
			.text(function(d){ return d;})
			.append("svg:title");

</script>


{% endblock %}
