{% extends "base.html" %}
{% load static %}

{% block title %}
{% if object.id %}
Edit record for {{ object.license_id }} {{ object.month }}/{{ object.year }}
{% else %}
Add a record
{% endif %}
{% endblock %}
{% block content %}
{% if object.id %}
<h3>Edit record for car {{ object.license_id }}</h3>
{% else %}
<h3>Add a record</h3>
{% endif %}

<form action="{{ target }}" method='POST'>

{% csrf_token %}

<ul>
	{{ form.as_ul }}
</ul>

<input type="submit" value="Save" />

</form>
{% endblock %}
