{% extends "base.html" %}
{% load static %}

{% block title %}
{{ monthlyrecord }}
{% endblock %}


{% block content %}
<h1 align='center'>License id: {{ monthlyrecord.license_id }}</h1>
<ul>
	<li>Current Owner: {{ monthlyrecord.license_id.current_owner }}</li>
	<li>Group: {{ monthlyrecord.license_id.classification }}</li>
	<li>Model: {{ monthlyrecord.license_id.maker }} {{ monthlyrecord.license_id.car_model }}</li>
	<li>Production year: {{ monthlyrecord.license_id.production_year }}</li>
	<li>Record period: {{ monthlyrecord.month }}/{{ monthlyrecord.year }}</li>
	<li>Total fuel consumed during this month: {{ monthlyrecord.fuel_consumed }} [liters]</li>
</br>

<a href="{% url 'edit_record' pk=monthlyrecord.id %}"><button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-wrench"></span>
	Edit
</button></a>
<a href="{% url 'add_record' %}"><button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-plus"></span>
	Add a new one
</button></a>

{% endblock %}