{% extends "base.html" %}
{% load static %}

{% block title %}
Drivers list
{% endblock %}


{% block content %}
<h4>Drivers list:</h4>
<ul>
	
	{% for item in object_list %}
	<li><a href="{% url 'view_owner' pk=item.id %}">{{ item.first_name }} {{ item.last_name }}</a> <a href="{% url 'edit_owner' pk=item.id %}">[edit]</a></li>
	{% endfor %}
</ul>
</br>
<a href="{% url 'add_owner' %}">
<button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-user"></span>
Add a driver
</button></a>

{% endblock %}