{% extends "base.html" %}
{% load static %}

{% block title %}
{{ accident }}
{% endblock %}


{% block content %}
<h1 align='center'>Accidents report for car: {{ accident.license_id }}</h1>

</br>
<table class="table table-striped">
	<tr>
		<th>License ID</th>
		<th>Driver</th>
		<th>Added to openFleet</th>
		<th>Date</th>
		<th>Cost</th>
		<th>Description</th>
		<th>Image</th>
	</tr>
	<tbody>
		<tr>
			<td><a href="{% url 'view_car' pk=accident.license_id.id %}">{{ accident.license_id }}</a></td>
			<td>{{ accident.driver }}</td>
			<td>{{ accident.timestamp }}</td>
			<td>{{ accident.date }}</td>
			<td>{{ accident.cost }}</td>
			<td>{{ accident.description }}</td>
			<td><img src="{{ accident.image }}"/></td>
		</tr>
	</tbody>
</table>
<a href="{% url 'edit_accident' pk=accident.id %}"><button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-wrench"></span>
	Edit
</button></a>
<a href="{% url 'add_accident' %}"><button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-plus"></span>
	Add a new accident report
</button></a>
{% endblock %}
