{% extends "base.html" %}
{% load static %}

{% block title %}
Cars list
{% endblock %}


{% block content %}
<h4>Cars list:</h4>
	{% for car in object_list %}
	<a href="{% url 'view_car' pk=car.id %}"><button type="button" class="btn btn-default btn-sm"><strong>{{ car.license_id }}</strong></button></a>
	<a href="{% url 'edit_car' pk=car.id%}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-wrench"></span> Edit</button></a></br>
	{% endfor %}
</br>
<a href="{% url 'add_car' %}">
<button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-plus"></span>
	Add a car
</button>
</a>

{% endblock %}