{% extends "base.html" %}
{% load static %}

{% block title %}
{{ car.license_id }}
{% endblock %}


{% block content %}
<h1 align='center'>{{ car.nickname }}</h1>
<div class="span1">
</div>
<div class="span10">
	<div class="row">
		<div class="col-md-2">
			<table class="table table-condensed">
				<thead>
					<th class="active">
						<h3 align="center">What would you like to do?</h3>
					</th>
				</thead>
				<tbody>
					<tr><td>
						<a href="{% url 'edit_car' pk=car.id%}"><button type="button" class="btn btn-default btn-md" style="width:100%">
							<span class="glyphicon glyphicon-wrench"></span>
							Edit car details
						</button></a>
					</td></tr>
					<tr><td>
						<a href="{% url 'add_accident' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="fa fa-ambulance"></i> Report an accident</button></a>
					</td></tr>
					<tr><td>
						<a href="{% url 'add_kmread' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="glyphicon glyphicon-dashboard"></i> Report km read</button></a>
					</td></tr>
					<tr class="info"><td>
						<a href="{% url 'add_car' %}"><button class="btn btn-default btn-md"  style="width:100%"><i class="fa fa-truck"></i> Add a car</button></a>
					</td></tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-striped table-condensed">
				<tbody>
					<tr>
						<td>
							<strong>License id:</strong>
						</td>
						<td>
							{{ car.license_id }}
						</td>
					</tr>
					<tr>
						<td>
							<i class="glyphicon glyphicon-user"></i>
							<strong>Driver: </strong>
						</td>
						<td>
							<a href="{% url 'view_owner' pk=car.current_owner.id %}">{{ car.current_owner.first_name }} {{ car.current_owner.last_name }}</a>
						</td>
					</tr>
					<tr>
						<td>
							<i class="fa fa-ambulance"></i>
							<strong>Group: </strong>
						</td>
						<td>
							<a href="{% url 'view_group' pk=car.classification.id %}">{{ car.classification }}
						</td>
					</tr>
					<tr>
						<td>
							<i class="fa fa-truck"></i>
							<strong>Model: </strong>
						</td>
						<td>
							{{ car.maker }} {{ car.car_model }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Color: </strong>
						</td>
						<td>
							{{ car.color }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Production year: </strong>
						</td>
						<td>
							{{ car.production_year }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div class="col-md-4">
			<table class="table table-condensed">
			<!--<thead>
				<th class="active">
				<h3 align="center">Notifications</h3>
				</th>
			</thead>-->
			<tbody>
				<tr>
					<td>
						<i class="glyphicon glyphicon-calendar"></i>
						<strong>License renewal: </strong>
					</td>
					<td>
						{% ifequal license_renewal 1%}
						<span class="label label-danger">
							{{ car.license_renewal_date|date:"d/m/Y" }}
							<span class="glyphicon glyphicon-bell"/>
						</span>
						{% endifequal %}
						{% ifequal license_renewal 2%}
						<span class="label label-warning">
							{{ car.license_renewal_date|date:"d/m/Y" }}
						</span>
						{% endifequal %}
						{% ifequal license_renewal 3%}
						<span class="label label-success">
							{{ car.license_renewal_date|date:"d/m/Y" }}
						</span>
						{% endifequal %}
					</td>
				</tr>
				<tr>
					<td>
						<i class="glyphicon glyphicon-calendar"></i>
						<strong>Insurance renewal: </strong>
					</td>
					<td>
						{% ifequal insurance_renewal 1%}
						<span class="label label-danger">
							{{ car.insurance_renewal_date|date:"d/m/Y" }}
							<span class="glyphicon glyphicon-bell"/>
						</span>
						{% endifequal %}
						{% ifequal insurance_renewal 2%}
						<span class="label label-warning">
							{{ car.insurance_renewal_date|date:"d/m/Y" }}
						</span>
						{% endifequal %}
						{% ifequal insurance_renewal 3%}
						<span class="label label-success">
							{{ car.insurance_renewal_date|date:"d/m/Y" }}
						</span>
						{% endifequal %}
					</td>
				</tr>
				<tr>
					<td>
						<i class="glyphicon glyphicon-calendar"></i>
						<strong>Last routine treatment: </strong>
					</td>
					<td>
						{% ifequal accidents_cost None %}
						No treatments reported
						{% else %}
						{{ treatment.date }}
						{% endifequal %}
					</td>
				</tr>
				<tr>
					<td>
						<i class="glyphicon glyphicon-dashboard"></i>
						<strong>Last routine treatment: </strong>
					</td>
					<td>
						{% ifequal accidents_cost None %}
						No treatments reported
						{% else %}
						{{ treatment.km_read }}
						{% endifequal %}
					</td>
				</tr>
				<tr>
					<td>
						<i class="glyphicon glyphicon-dashboard"></i>
						<strong>Kilometrage: </strong>
					</td>
					<td>
						{% if km1000 %}
						<span class="label label-danger">
							{{ km }}
						</span>
						{% else %}
						{{ km }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<i class="glyphicon glyphicon-dashboard"></i>
						<strong>Fuel cost for {{ monthly_record.month }}/{{ monthly_record.year }} [NIS]: </strong>
					</td>
					<td>
						{{ monthly_record.cost }}
					</td>
				</tr>
				<tr>
					<td>
						<i class="glyphicon glyphicon-shopping-cart"></i>
						<strong>Fuel consumed in {{ monthly_record.month }}/{{ monthly_record.year }} [L]: </strong>
					</td>
					<td>
						{{ monthly_record.fuel_consumed }}
					</td>
				</tr>
				<tr>
					<td>
						<strong>Total cost of accidents: </strong>
					</td>
					<td>
						<a href="{% url 'accidents' pk=car.id %}">
							{% ifequal accidents_cost None %}
							No accidents reported
							{% else %}
							{{ accidents_cost }}
							{% endifequal %}
						</a>
					</td>
				</tr>				
			</tbody>
		</table>
	</div>



	<div class="col-md-2">
		<table class="table table-condensed">
			<thead>
				<th class="active">
					<h3 align="center">What would you like to see?</h3>
				</th>
			</thead>
			<tbody>
				<tr><td>
						<a href="{% url 'StatisticsClassification' pk=car.classification.id %}"
						<button type="button" class="btn btn-default btn-md"  style="width:100%">
							{{ car.classification.group }}'s statistics
						</button>
					</a>
				</td></tr>
				<tr><td>
						<a href="{% url 'StatisticsCar' pk=car.id year=2014 %}"
						<button type="button" class="btn btn-default btn-md"  style="width:100%">
							car's statistics
						</button>
					</a>
				</td></tr>
			</tbody>
		</table>
	</div>
</div>
</div>
<div class="span1">
</div>

<br>
<!--
<a href="{% url 'edit_car' pk=car.id%}"><button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-wrench"></span>
	Edit {{ car.license_id }}
</button></a>
<a href="{% url 'add_car' %}"><button type="button" class="btn btn-default btn-md">
	<span class="glyphicon glyphicon-plus"></span>
	Add a car
</button></a>
<br>
<br>-->
<div align="center">
	{% ifnotequal previous_car None %}
	<a href="{% url 'view_car' pk=previous_car.id %}"><button type="button" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-wrench"></span>
		Previous car
	</button></a>
	{% endifnotequal %}
	{% ifnotequal next_car None %}
	<a href="{% url 'view_car' pk=next_car.id %}"><button type="button" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-plus"></span>
		Next car
	</button></a>
	{% endifnotequal %}
</div>
{% endblock %}