{% load static %}
<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
	{% block head %}
	{% endblock %}
	<title>
		openFleet -
		{% block title %}
		{% endblock %}
	</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/submenus.css' %}" rel="stylesheet">
  <!--<link href="{% static 'bootflat/bootflat/css/bootflat.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'bootflat/bootflat/css/bootflat-extensions.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'bootflat/bootflat/css/bootflat-square.css' %}" rel="stylesheet" media="screen">-->

  <link href="{% static 'font-awesome-4.0.3/css/font-awesome.css' %}" rel="stylesheet">


  <style>
    .btn-xs{
      margin-bottom: 5px;
    }
    td .a {
      display:block;
      width:100%;
      height:100%;
      text-decoration:none;"
    }
  </style>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- [if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      [endif] -->
      <meta charset="utf-8">
    </head>
    {# <body dir="rtl"> #}

    <!-- Wrap all page content here -->
    <div id="wrap">

     <!-- Fixed navbar -->
     <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/cleaneticar_logo.png' %}"/></a>
       <!--<a class="navbar-brand" href="{% url 'home' %}">openFleet</a>-->
     </div>
     <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
         <li>
          <div class="btn-group">
           <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            View Basic data <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'groups_list' %}"><span class="glyphicon glyphicon-list"/> Groups list</a></li>
            <li><a href="{% url 'owners_list' %}"><span class="glyphicon glyphicon-list"/> Drivers</a></li>
            <li><a href="{% url 'cars_list' %}"><span class="glyphicon glyphicon-list"/> Cars list</a></li>
            <li><a href="{% url 'records_list' %}"><span class="glyphicon glyphicon-list"/> Monthly records</a></li>
            <li><a href="{% url 'kmreads_list' %}"><span class="glyphicon glyphicon-list"/> KM Reads</a></li>
            <li><a href="{% url 'accidents_list' %}"><span class="glyphicon glyphicon-list"/> Accidents</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="btn-group">
         <a href="{% url 'statistics' %}">
          <button type="button" class="btn btn-info btn-md">
           <i class="fa fa-bar-chart-o"></i>
           View statistics
         </button>
       </a>
     </div>
   </li>
 </li>
 {% block navbar-list %}
 {% endblock %}
 </ul>
 <ul class="nav pull-right"> 
 <div class="form-group">
    <!--<input type="text" id="search" class="typeahead form-control input-sm" data-provied="typehead" style="width:200px;" placeholder="Search for cars">-->
  <input type="text" class="typeahead form-control input-sm" data-source="{% url 'license_ids' %}" placeholder="Search for cars">
    </form>
  </div>
</li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>

<!-- Begin page content -->
<div class="container">
  <br/>
  <br/>
  <br/>
  {% block content %}
  {% endblock %}
  {% block body_js %}

  {% endblock body_js %}
</div>

<div id="footer">
    <ul class="nav navbar-nav">
     <li>
      <div class="btn-group dropup">
       <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        Add Basic data <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'add_group' %}"><i class="fa fa-ambulance"></i> Group</a></li>
        <li><a href="{% url 'add_owner' %}"><i class="glyphicon glyphicon-user"></i> Driver</a></li>
        <li><a href="{% url 'add_car' %}"><i class="fa fa-truck"></i> Car</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="btn-group dropup">
     <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      Add reports <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'add_record' %}"><span class="glyphicon glyphicon-list"/> Monthly records</a></li>
      <li><a href="{% url 'add_kmread' %}"><span class="glyphicon glyphicon-list"/> KM Read</a></li>
      <li><a href="{% url 'add_accident' %}"><span class="glyphicon glyphicon-list"/> Accidents</a></li>
    </ul>
  </div>
</li>
</ul>
</div><!--/.nav-collapse -->
<br><br>
 <div class="text-muted" align="center">openFleet - manages your fleet since 02/2014.</br>
   <a href="http://shaief.com">Shai Efrati</a> //
   <a href="https://github.com/shaief/openFleet">project page on GitHub</a>
 </div></div>
 <div align="center">
  <img src="{% static 'images/SElogo25x25.png' %}"/>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://code.jquery.com/jquery.js"></script>-->
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'lib/d3.js' %}"></script>-->
<script src="{% static "typeahead.js/typeahead.js" %}"></script>
<!--<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->

<script>
  {% verbatim %}
  $(function() {
    $('#search').typeahead({
      name: 'twitter-oss',
      remote: '{% url "license_ids" %}',
      engine: Hogan
    })
    .keydown(function(e) {
        if (e.keyCode === 13) {
            $("form").trigger('submit');
        }
    });
});
    
    $('#search').on('typeahead:selected', function (object, datum) {
        // Example: {value: "@JakeHarding", tokens: ['Jake', 'Harding'], name: "Jake Harding", profileImageUrl: "https://twitter.com/JakeHaridng/profile_img"}
        //console.log(datum);
        window.location.replace(datum.url);
      });
  });
  
  $("#id_contactForm").submit(function(event) {
    //disable the default form submission
    event.preventDefault();
    
    $('#contactModal').modal('hide');
    $("#alert-message").empty().text("Sending your message..");
    $(".alert").show();

    var values = {};
    $.each($('#id_contactForm').serializeArray(), function(i, field) {
      values[field.name] = field.value;
    });
    
    $.post("{% url 'view_car' %}", values, function(returndata) {
      $("#alert-message").empty().text("Message has been sent successfully.");
    }).fail(function() {
      $("#alert-message").empty().text("Faild to send your message.");
    }).complete(function() {
      $("#id_content").val('');
    });

    return false;
  });

  $("#close-alert").click(function() {
    $(".alert").hide();
  });
  {% endverbatim %}
</script>
  {% block scripts %}
  {% endblock %}

</body>
</html>

